Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Depends: com.saurik.substrate.safemode, firmware (>= @@DEPLOYMENT_TARGET@@)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome widget for the Notification Center!
Author: @@USER@@
Section: Addons (NotificationCenter)
