Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Depends: mobilesubstrate, firmware (>= @@DEPLOYMENT_TARGET@@)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Cydia Substrate tweak!
Author: @@USER@@
Section: Tweaks
