Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Depends: de.j-gessner.ccloader, firmware (>= @@DEPLOYMENT_TARGET@@)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Control Center plugin!
Author: @@USER@@
Section: Addons (ControlCenter)
