Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Depends: ccloader, firmware (>= 7.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Control Center plugin!
Maintainer: @@USER@@
Author: @@USER@@
Section: Addons (ControlCenter)
